<article class="post">
    <div class="title">
        <a href="/posts/{{id}}">{{title}}</a>
    </div>
    <p>{{post_text}}</p>
    <div class="meta">
        By {{user.username}} on {{format_date created_at}}
        <a href="/posts/{{id}}"> {{comments.length}} {{format_plural "comment" comments.length}} </a>
    </div>
</article>